# Import Bibliotheken

In [1]:
import pandas as pd
import numpy as np

# Daten

## Datenimport

In [8]:
rawdata_df = pd.read_excel('data/raw/Google_Rezensionen.xlsx')
rawdata_df

,Tankstellenname,Datum,Bewertung,Kommentar,Kunde,Antwort,Kategorien
0,TS Wittstock,2022-09-30 17:31:00,4,NaN,Ricardo Franke,NaN,Null
1,TS Lengede,2022-09-30 14:53:24,5,Sehr nette Bedienung. Tolles Angebot. Sehr l...,Kat Eggi,"Hallo Kat Eggi, vielen Dank für Ihr tolles Fe...",Null
2,TS Südermarsch,2022-09-30 12:44:02,5,Beste Tankstelle im ganzem Umkreis! Riesige Bi...,Sam Michelsen,??,Null
3,TS Südermarsch,2022-09-30 07:45:06,5,NaN,Arne Bg,NaN,Null
4,TS Schleswig MC,2022-09-30 06:46:42,5,"Super nettes Personal, gutes Frühstück mit gro...",Sebastian Johannsen,NaN,"Personal, Shop, Bistro"
...,...,...,...,...,...,...,...
11077,TS Jübek,2014-07-16 07:08:37,5,"Sehr gut. Günstig , guter shop und einige and...",Jens Schmidt,NaN,"Pricing, Shop, Kraftstoffauswahl, Waschanlage,..."
11078,TS Sörup,2014-02-07 21:18:05,5,NaN,Uschi Hinrichsen,NaN,Null
11079,TS Neustadt am Rüb.,2013-09-21 15:26:28,5,Öffnungszeiten: Mo-So: 06:00 - 22:00 Uhr,Adrian Winkelmann,NaN,Öffnungszeiten
11080,TS Handewitt(SP),2012-11-05 11:16:00,5,"genug platz fuer wohnwagen, rechts beim autog...",Stan van de Kerkhof,NaN,"Personal, Kraftstoffauswahl"
11081,TS Handewitt(SP),2011-07-26 17:42:28,4,Ideal um kurz vor Dänemark nochmal Günstig zu...,Kevin Quiatkowski,NaN,Pricing